@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
}

body {
    padding-top: 72px;
    background: #fff;
    overflow-x: hidden;
}

a {
    outline: none !important;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    border: none;
    vertical-align: top;
}

.display_table {
    display: table;
}
.display_row {
    display: table-row;
}
.display_cell {
    display: table-cell;
}

.shadow {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    -ms-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
}

.shadow_bottom {
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2);
    -ms-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2);
}

@media screen and (-webkit-max-device-pixel-ratio: 1) {
    .crisp {
        image-rendering: -webkit-optimize-contrast;
        image-rendering: -moz-crisp-edges;
        image-rendering: -o-crisp-edges;
        image-rendering: crisp-edges;
        -ms-interpolation-mode: nearest-neighbor;
    }
}

#stop_scroll {
    background: #fff;
    overflow: hidden;
}

.no_margin {
    margin: 0;
}

/* Top NAV ********************************************************************/
.navbar-fixed-top {
    height: 72px;
    border: none;
    background: #f6f6f6;
}

.navbar-logo {
    display: block;
    float: left;
    width: 180px;
    height: 72px;
    margin-left: 38px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.navbar-logo:hover {
    opacity: 0.8;
}

.navbar-logo img {
    margin-top: 13px;
}

@media (min-width: 750px) {
    .navbar-collapse.collapse {
        display: none !important;
    }
}

.navbar-contact {
    display: block;
    float: right;
    width: 130px;
    height: 72px;
    margin-right: 56px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.navbar-contact:hover {
    opacity: 0.8;
}

.navbar-contact img {
    margin-top: 32px;
    width: 85px;
}

#navbar-contact-ani {
    position: relative;
    width: 45px;
    height: 100%;
    float: left;
}

#navbar-contact-ani span {
	position: absolute;
	top: 33px;
	left: 0;
	width: 10px;
	height: 10px;
	margin-left: -3px;
	border-left: 2px solid #065fdd;
	border-bottom: 2px solid #065fdd;
	-webkit-transform: rotate(-135deg);
	transform: rotate(-135deg);
	-webkit-animation: sdb 2s infinite;
	animation: sdb 2s infinite;
	opacity: 0;
	box-sizing: border-box;
}
#navbar-contact-ani span:nth-of-type(1) {
	-webkit-animation-delay: 0s;
	animation-delay: 0s;
}
#navbar-contact-ani span:nth-of-type(2) {
	left: 12px;
	-webkit-animation-delay: .15s;
	animation-delay: .15s;
}
#navbar-contact-ani span:nth-of-type(3) {
	left: 23px;
	-webkit-animation-delay: .3s;
	animation-delay: .3s;
}

/* Slide show *****************************************************************/
.carousel-overlay {
    background: url(../img/grid.png) repeat !important;
    width: 100%;
    height: 100%;
    position: absolute;
}

.carousel-indicators li {
    width: 14px;
    height: 14px;
    margin: 6px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #fff;
    border: none;
    border-radius: 14px;
}

.carousel-indicators .active {
    width: 14px;
    height: 14px;
    margin: 6px;
    background-color: #0460dd;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
    left: 46px;
    width: 18px;
    height: 32px;
    padding: 0;
    margin-top: -16px;
    background-image: url(../img/arrow_left.png) !important;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}
.carousel-control .glyphicon-chevron-right {
    left: auto;
    right: 46px;
    background-image: url(../img/arrow_right.png) !important;
}

.glyphicon-chevron-left::before,
.glyphicon-chevron-right::before {
    content: '';
}

.carousel-caption {
    left: 8%;
    right: 8%;
    bottom: 150px;
    padding-bottom: 0;
}

.carousel-caption h2 {
    margin: 0;
    padding-bottom: 10px;
    line-height: 1.0;
}
.carousel-caption h2:first-child {
    padding-bottom: 15px;
}

#area_9_detail a,
.carousel-caption a {
    display: block;
    max-width: 300px;
    height: 66px;
    background: #065fdd;
    margin: 0 auto;
    margin-top: 60px;
    box-sizing: border-box;
    border: 2px solid #065fdd;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

#area_9_detail a:hover,
.carousel-caption a:hover {
    background: #fff;
}

#area_9_detail .display_table,
.carousel-caption .display_table {
    width: 100%;
    height: 100%;
}

#area_9_detail .display_cell,
.carousel-caption .display_cell {
    vertical-align: middle;
    line-height: 0;
    text-align: right;
}
#area_9_detail .display_cell:last-child,
.carousel-caption .display_cell:last-child {
    text-align: left;
    width: 55px;
}

#area_9_detail a .display_cell:last-child span,
#area_9_detail a .display_cell:first-child div,
.carousel-caption a .display_cell:last-child span,
.carousel-caption a .display_cell:first-child div {
    background-image: url("../img/contact_text.png");
    background-position: right center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    display: block;
    float: right;
    width: 85%;
    height: 28px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
#area_9_detail a .display_cell:first-child div,
.carousel-caption a .display_cell:first-child div  {
    background-size: 100% auto;
    -webkit-transition: none;
    transition: none;
}
#area_9_detail a:hover .display_cell:first-child div,
.carousel-caption a:hover .display_cell:first-child div {
    background-image: url("../img/contact_text_blue.png");
}

#area_9_detail a .display_cell:last-child span,
.carousel-caption a .display_cell:last-child span {
    float: left;
    background-image: url("../img/arrow_contact.png");
    background-position: 10px center;
}

#area_9_detail a:hover .display_cell:last-child span,
.carousel-caption a:hover .display_cell:last-child span {
    background-image: url("../img/arrow_contact_blue.png");
    background-position: 15px center;
}

.carousel-inner .parallax_item {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Area 1 *********************************************************************/
#area_1_container {
    background: #fff;
}

#area_1_title,
#area_2_title,
#area_3_title,
#area_4_title,
#area_5_title,
#area_6_title,
#area_7_title,
#area_8_title,
#area_9_title,
#area_10_title {
    text-align: center;
    min-height: 131px;
    color: #065fdd;
    font-size: 30px;
    font-weight: bold;
    line-height: 1.1;
    padding-top: 70px;
    overflow: hidden;
}

@media screen and (max-width: 640px) {
    #area_1_title {
        font-size: 26px;
        padding-bottom: 10px;
    }
}

.area_1_item {
    float: left;
    min-height: 113px;
    padding-left: 88px;
    font-size: 21px;
    font-weight: bold;
    color: #666;
    padding-top: 25px;
    background-image: url(../img/stom.png);
    background-position: 40px 15px;
    background-size: 36px auto;
    background-repeat: no-repeat;
}

@media screen and (max-width: 1235px) {
    .area_1_item {
        font-size: 20px;
    }
}
@media screen and (max-width: 1190px) {
    .area_1_item {
        font-size: 19px;
    }
}
@media screen and (max-width: 1150px) {
    .area_1_item {
        min-height: 95px;
        font-size: 17px;
    }
}
@media screen and (max-width: 1070px) {
    .area_1_item {
        min-height: 95px;
        font-size: 15px;
    }
    .area_1_item br {
        display: none;
    }
}
@media screen and (max-width: 990px) {
    .area_1_item {
        min-height: 90px;
        font-size: 14px;
    }
}
@media screen and (max-width: 910px) {
    .area_1_item {
        min-height: 80px;
        font-size: 12px;
    }
}
@media screen and (max-width: 830px) {
    .area_1_item {
        min-height: 80px;
    }
}

#area_1_item_1,
#area_1_item_2,
#area_1_item_3 {
    width: 26.79%;
}

#area_1_item_1 {
    margin-left: 8.04%;
}

#area_1_item_4,
#area_1_item_5 {
    width: 33.20%;
}

#area_1_item_4 {
    margin-left: 17.81%;
}

@media screen and (max-width: 750px) {
    #area_1_item_1 {
        margin-left: 23.21%;
    }
    
    #area_1_item_3 {
        clear: both;
        min-height: 80px;
        margin-left: 36.60%;
    }
}

/**/
#area_1_more_container {
    cursor: pointer;
}

#area_1_more {
    position: relative;
    width: 50px;
    height: 171px;
    margin: 0 auto;
}

#area_1_more span {
	position: absolute;
	top: 22px;
	left: 50%;
	width: 30px;
	height: 30px;
	margin-left: -15px;
	border-left: 5px solid #065fdd;
	border-bottom: 5px solid #065fdd;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-animation: sdb 2s infinite;
	animation: sdb 2s infinite;
	opacity: 0;
	box-sizing: border-box;
}
#area_1_more span:nth-of-type(1) {
	-webkit-animation-delay: 0s;
	animation-delay: 0s;
}
#area_1_more span:nth-of-type(2) {
	top: 62px;
	-webkit-animation-delay: .15s;
	animation-delay: .15s;
}
#area_1_more span:nth-of-type(3) {
	top: 102px;
	-webkit-animation-delay: .3s;
	animation-delay: .3s;
}
@-webkit-keyframes sdb {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@keyframes sdb {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

/* Area 2 *********************************************************************/
#area_2_container {
    background: #065fdd;
    margin-top: 1px;
}

#area_2 {
    text-align: center;
}

#area_2_title {
    min-height: 189px;
    padding-top: 87px;
    color: #fff;
}

.area_2_item {
    float: left;
    width: 18.75%;
    min-height: 317px;
    margin: 0 0.78%;
    margin-bottom: 92px;
    background: #fff;
}

#area_2_item_1 {
    margin-left: 10.15%;
}

.area_2_item_icon {
    width: 100%;
    height: 0;
    padding-top: 53.33%;
    margin-top: 21.25%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

#area_2_item_1 .area_2_item_icon {
    background-image: url(../img/note.gif);
}
#area_2_item_2 .area_2_item_icon {
    background-image: url(../img/pencil.gif);
}
#area_2_item_3 .area_2_item_icon {
    background-image: url(../img/scale.gif);
}
#area_2_item_4 .area_2_item_icon {
    background-image: url(../img/airplane.gif);
}

.area_2_item_text {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.7;
    color: #666;
    padding-top: 22px;
    min-height: 125px;
}

/* Area 3 *********************************************************************/
#area_3_title {
    min-height: 220px;
    padding-top: 98px;
    color: #444;
}

#area_3_title span {
    display: block;
    clear: both;
    font-size: 17px;
    font-weight: normal;
    padding-top: 30px;
    padding-bottom: 10px;
    line-height: 1.5;
    color: #666;
}

#area_3_detail {
    margin-left:12.5%;
    margin-right: 12.8%;
    margin-bottom: 10px;
}

/* Area 4 *********************************************************************/
#area_4_title {
    min-height: 156px;
    padding-top: 92px;
    padding-bottom: 10px;
    color: #444;
}

#area_4 table {
    width: 100%;
    background: #fff;
    border-collapse: collapse;
    border-style: hidden;
}

#area_4 table td {
    border: 1px solid #c9c9c9;
    text-align: center;
    vertical-align: middle;
    padding: 29px 0;
}
#area_4 table td.text-left {
    text-align: left;
}

#area_4_detail {
    margin-left: 10%;
    margin-right: 10%;
    min-height: 500px;
}

#area_4_detail tr:first-child .area_4_table_col1 {
    width: 16.55%;
}
#area_4_detail tr:first-child .area_4_table_col2 {
    width: 24.65%;
}
#area_4_detail tr:first-child .area_4_table_col3 {
    width: 19.40%;
}
#area_4_detail tr:first-child .area_4_table_col4 {
    width: 18.40%;
}

.area_4_tr_header td,
.area_4_td_active {
    font-weight: bold;
}

.area_4_td_active {
    background: #065fdd;
    color: #fff;
}

.area_4_td_mark {
    width: 4.67%;
    border-top: 0;
}

.area_4_td_no_border_bottom {
    border-bottom-color: #fff !important;
}
.area_4_td_active.area_4_td_no_border_bottom {
    border-bottom-color: #065fdd !important;
}
.area_4_td_no_border_right {
    border-right-color: #fff !important;
}
.area_4_td_active.area_4_td_no_border_right {
    border-right-color: #065fdd !important;
}

.area_4_td_hover {
    background-color: #e4efff;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.area_4_td_hover.area_4_td_no_border_bottom {
    border-bottom-color: #e4efff !important;
}
.area_4_td_hover.area_4_td_no_border_right {
    border-right-color: #e4efff !important;
}

/* Area 5 *********************************************************************/
#area_5 {
    min-height: 613px;
}

#area_5_title {
    min-height: 140px;
    padding-top: 80px;
    color: #444;
}

#area_5_detail {
    margin-left: 9.68%;
    margin-right: 9.68%;
}

.area_5_item {
    float: left;
    width: 15.50%;
    height: 68px;
    margin: 0.67% 0.58% 0.77% 0.58%;
    text-align: center;
    line-height: 68px;
    color: #434343;
    font-size: 16px;
    overflow: hidden;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.area_5_item:hover {
    font-size: 19px;
}

.area_5_item span {
    display: inline-block;
    vertical-align: middle;
    line-height: 1.1;
}

/* Area 6 *********************************************************************/
#area_6_container {
    background: #ededed;
}

#area_6_title {
    min-height: 140px;
    padding-top: 80px;
    color: #444;
}

#area_6_detail {
    margin-left: 9.06%;
    margin-right: 9.37%;
    height: 0;
    padding-bottom: 61.32%;
}

.area_6_detail_col1,
.area_6_detail_col2, 
.area_6_detail_col3 {
    width: 33.33%;
    float: left;
}

.area_6_item {
    position: relative;
    float: left;
    display: block;
    width: 93%;
    height: auto;
    margin: 1.05%;
    margin-left: 3.5%;
    margin-top: 0;
    margin-bottom: 7%;
}

.area_6_item_inner {
    position: relative;
    padding-bottom: 61.34%;
    background-color: #fff;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.area_6_item_header {
    height: 67px;
    margin-bottom: 0;
    line-height: 67px;
    text-align: center;
    font-size: 18px;
    color: #666;
    background: none;
}

.area_6_item_icon {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -24.53%;
    width: 49.07%;
    height: 100%;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

#area_6_item_1 .area_6_item_icon {
    background-image: url(../img/icon_area6_1.png);
}
#area_6_item_2 .area_6_item_icon {
    background-image: url(../img/icon_area6_2.png);
    width: 65.33%;
    margin-left: -32.66%;
}
#area_6_item_3 .area_6_item_icon {
    background-image: url(../img/icon_area6_3.png);
    width: 31.59%;
    margin-left: -15.79%;
}
#area_6_item_4 .area_6_item_icon {
    background-image: url(../img/icon_area6_4.png);
    width: 46.01%;
    margin-left: -23%;
}
#area_6_item_5 .area_6_item_icon {
    background-image: url(../img/icon_area6_5.png);
    width: 25.76%;
    margin-left: -12.88%;
}
#area_6_item_6 .area_6_item_icon {
    background-image: url(../img/icon_area6_6.png);
    width: 46.31%;
    margin-left: -23.15%;
}
#area_6_item_7 .area_6_item_icon {
    background-image: url(../img/icon_area6_7.png);
    width: 57.05%;
    margin-left: -28.52%;
}

/*.area_6_item:hover .area_6_item_icon {
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}*/

.area_6_item .area_6_item_more {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: block;
    width: 78px;
    height: 30px;
    background: #065fdd;
    box-sizing: border-box;
    border: 1px solid #065fdd;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

/*.area_6_item:hover .area_6_item_more,
.area_6_item .area_6_item_more:hover {
    background: #fff;
}*/

.area_6_item .display_table {
    width: 100%;
    height: 100%;
}
.area_6_item .display_cell {
    vertical-align: middle;
    line-height: 0;
    text-align: right;
}
.area_6_item .display_cell:last-child {
    text-align: left;
    width: 20px;
}

.area_6_item .area_6_item_more .display_cell:last-child span,
.area_6_item .area_6_item_more .display_cell:first-child div {
    background-image: url("../img/more_w.png");
    background-position: right center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    display: block;
    float: right;
    width: 100%;
    height: 9px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.area_6_item .area_6_item_more .display_cell:first-child div {
    -webkit-transition: none;
    transition: none;
}
/*.area_6_item:hover .area_6_item_more .display_cell:first-child div,
.area_6_item .area_6_item_more:hover .display_cell:first-child div {
    background-image: url("../img/more_b.png");
}*/

.area_6_item .area_6_item_more .display_cell:last-child span {
    float: left;
    background-image: url("../img/arrow_more_w.png");
    background-position: 5px center;
}
/*.area_6_item:hover .area_6_item_more .display_cell:last-child span,
.area_6_item .area_6_item_more:hover .display_cell:last-child span {
    background-image: url("../img/arrow_more_b.png");
    background-position: 9px center;
}*/

@media screen and (max-width: 1060px) {
    .area_6_item .area_6_item_more {
        width: 68px;
        height: 26px;
    }
    .area_6_item .display_cell:last-child {
        width: 17px;
    }
    .area_6_item .area_6_item_more .display_cell:last-child span,
    .area_6_item .area_6_item_more .display_cell:first-child div {
        height: 8px;
    }
    .area_6_item .area_6_item_more .display_cell:last-child span {
        background-position: 3px center;
    }
    .area_6_item:hover .area_6_item_more .display_cell:last-child span,
    .area_6_item .area_6_item_more:hover .display_cell:last-child span {
        background-position: 8px center;
    }
}
@media screen and (max-width: 970px) {
    .area_6_item .area_6_item_more {
        width: 58px;
        height: 22px;
    }
    .area_6_item .display_cell:last-child {
        width: 14px;
    }
    .area_6_item .area_6_item_more .display_cell:last-child span,
    .area_6_item .area_6_item_more .display_cell:first-child div {
        height: 7px;
    }
    .area_6_item .area_6_item_more .display_cell:last-child span {
        background-position: 3px center;
    }
    .area_6_item:hover .area_6_item_more .display_cell:last-child span,
    .area_6_item .area_6_item_more:hover .display_cell:last-child span {
        background-position: 6px center;
    }
}
@media screen and (max-width: 830px) {
    .area_6_item .area_6_item_more {
        width: 48px;
        height: 18px;
    }
    .area_6_item .display_cell:last-child {
        width: 12px;
    }
    .area_6_item .area_6_item_more .display_cell:last-child span,
    .area_6_item .area_6_item_more .display_cell:first-child div {
        height: 6px;
    }
    .area_6_item .area_6_item_more .display_cell:last-child span {
        background-position: 2px center;
    }
    .area_6_item:hover .area_6_item_more .display_cell:last-child span,
    .area_6_item .area_6_item_more:hover .display_cell:last-child span {
        background-position: 5px center;
    }
}

/* Area 7 *********************************************************************/
#area_7_title {
    min-height: 254px;
    padding-top: 125px;
    color: #444;
}

#area_7_title span {
    display: block;
    clear: both;
    font-size: 17px;
    font-weight: normal;
    padding-top: 15px;
    padding-bottom: 10px;
    line-height: 1.5;
    color: #666;
}

#area_7_detail {
    margin-left: 11.32%;
    margin-right: 12.89%;
    min-height: 850px;
}

.area_7_item {
    float: left;
    width: 30.92%;
    min-height: 370px;
    margin-left: 2.37%;
    margin-bottom: 27px;
    background: #fff;
}

.area_7_item_number {
    height: 116px;
    text-align: center;
    font-size: 68px;
    font-weight: bold;
    line-height: 1.1;
    color: #C9C9C9;
    overflow: hidden;
    padding-top: 28px;
}

.area_7_item_icon {
    width: 43%;
    height: 0;
    padding-top: 43%;
    margin-top: 0;
    margin-left: 28.66%;
    background-position: right bottom;
    background-repeat: no-repeat;
}

#area_7_item_1 .area_7_item_icon {
    background-color: #47a195;
    background-image: url(../img/icon_area7_1.png);
    background-size: auto 88.37%;
}
#area_7_item_2 .area_7_item_icon {
    background-color: #e2e0e1;
    background-image: url(../img/icon_area7_2.png);
    background-size: auto 79.06%;
}
#area_7_item_3 .area_7_item_icon {
    background-color: #928bc1;
    background-image: url(../img/icon_area7_3.png);
    background-size: auto 83.72%;
}
#area_7_item_4 .area_7_item_icon {
    background-color: #3b3e45;
    background-image: url(../img/icon_area7_4.png);
    background-size: auto 73.64%;
}
#area_7_item_5 .area_7_item_icon {
    background-color: #f6bb9d;
    background-image: url(../img/icon_area7_5.png);
    background-size: auto 74.41%;
}
#area_7_item_6 .area_7_item_icon {
    background-color: #98d3d9;
    background-image: url(../img/icon_area7_6.png);
    background-size: auto 81.39%;
}

.area_7_item_text {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.7;
    color: #666;
    padding-top: 17px;
    min-height: 120px;
}

@media screen and (max-width: 850px) {
    .area_7_item_text br {
        display: none;
    }
}

/* Area 8 *********************************************************************/
#area_8_title {
    min-height: 218px;
    padding-top: 108px;
    color: #444;
}

#area_8_detail {
    margin-left: 12.73%;
    margin-right: 12.73%;
    min-height: 593px;
}

.area_8_item {
    float: left;
    width: 30.50%;
    height: 449px;
    margin-left: 2.20%;
}

.area_8_item_head {
    position: relative;
    height: 160px;
    background: #065fdd;
}

.area_8_item_head:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 28px 28px 0;
    border-color: #065fdd transparent;
    display: block;
    width: 0;
    z-index: 1;
    margin-left: -28px;
    bottom: -25px;
    left: 50%;
}

.area_8_item_head .display_table {
    width: 100%;
}
.area_8_item_head .display_cell {
    height: 160px;
    text-align: center;
    vertical-align: middle;
    font-size: 16px;
    line-height: 1.7;
    color: #fff;
}

.area_8_item_icon {
    margin-top: 44px;
    height: 128px;
    text-align: center;
}

.area_8_item_icon img {
    height: 100%;
    width: auto;
    margin: 0 auto;
}

.area_8_item_text {
    text-align: center;
    font-size: 20px;
    padding-top: 25px;
    color: #065fdd;
}

.area_8_item:last-child .area_8_item_text {
    padding-top: 40px;
}

/* Area 9 *********************************************************************/
#area_9_container {
    background: #065fdd;
}

#area_9 {
    min-height: 400px;
}

#area_9_title {
    min-height: 192px;
    padding-top: 75px;
    line-height: 1.4;
    color: #fff;
}

#area_9_detail a {
    margin-top: 0;
    background: #fff;
    border: 2px solid #fff;
}
#area_9_detail a:hover {
    background: #065fdd;
}

#area_9_detail a .display_cell:first-child div {
    background-image: url("../img/contact_text_blue.png");
}
#area_9_detail a:hover .display_cell:first-child div {
    background-image: url("../img/contact_text.png");
}

#area_9_detail a .display_cell:last-child span {
    background-image: url("../img/arrow_contact_blue.png");
}
#area_9_detail a:hover .display_cell:last-child span {
    background-image: url("../img/arrow_contact.png");
}

#area_9_tel {
    height: 110px;
    text-align: center;
    overflow: hidden;
}

#area_9_tel img {
    margin: 0 auto;
    margin-top: 40px;
    height: 30px;
}

/* Area 10 ********************************************************************/
#area_10_title {
    min-height: 155px;
    padding-top: 85px;
    color: #444;
}

#area_10_detail {
    width: 787px;
    min-height: 477px;
    margin: 0 auto;
    padding-top: 14px;
}

@media screen and (max-width: 786px) {
    #area_10_detail {
        width: 94%;
        margin-left: 3%;
        margin-right: 3%;
    }
}

#area_10_detail table {
    width: 100%;
    /*table-layout: fixed;*/
}

.area_10_col_1 {
    width: 15.18%;
    white-space: nowrap;
}

.area_10_col_3 {
    width: 30.75%;
}

#area_10_detail td {
    padding: 8px 0;
    font-size: 17px;
    vertical-align: top;
}

#area_10_logo a {
    display: block;
    float: left;
    width: 90.12%;
    margin-top: 96px;
}

/* Area Footer ****************************************************************/
#area_footer {
    height: 68px;
    text-align: center;
    line-height: 68px;
    font-size: 14px;
    color: #666;
}

/* Contact ********************************************************************/
#contact_header {
    height: 163px;
}

#contact_header_detail {
    line-height: 163px;
    font-size: 18px;
    font-weight: bold;
    color: #065fdd;
}
#contact_header_detail div {
    display: inline-block;
    line-height: 1.1;
    vertical-align: middle;
}
#contact_header_detail span {
    font-size: 29px;
    line-height: 1.5;
}

/**/
#contact_nav {
    min-height: 135px;
    background: #ececec;
}

#contact_nav_detail table {
    width: 640px;
    margin: 22px auto 10px auto;
}

@media screen and (max-width: 639px) {
    #contact_nav_detail table {
        width: 100%;
    }
}

#contact_nav_detail tr td {
    width: 25.63%;
    vertical-align: middle;
    text-align: center;
    font-size: 16px;
    color: #c8c8c8;
}
#contact_nav_detail tr td.active {
    color: #666666;
}

#contact_nav_detail tr td:nth-child(1) {
    padding-left: 3.12%;/*20px;*/
}
#contact_nav_detail tr td:nth-child(2),
#contact_nav_detail tr td:nth-child(4) {
    width: 11.87%;/*76px;*/
    padding: 0 2.81%;/*18px;*/
}
#contact_nav_detail tr td:nth-child(3) {
    width: 25%;/*160px;*/
}
#contact_nav_detail tr td:nth-child(5) {
    padding-right: 6.25%;/*40px;*/
}

#contact_nav_detail tr:first-child td {
    height: 57px;
    font-size: 45px;
    font-weight: bold;
    line-height: 1.0;
}

/**/
#contact_detail {
    width: 542px;
    position: relative;
}

@media screen and (max-width: 541px) {
    #contact_detail {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }
}

#contact_detail_notice,
#contact_detail_alert {
    width: 100%;
    min-height: 50px;
    margin-top: 26px;
    padding-left: 35.05%;/*190px;*/
    line-height: 50px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    background-color: #ff3d3d;
    background-image: url(../img/icon_info.png);
    background-position: 27% center;/*138px*/
    background-repeat: no-repeat;
    background-size: 30px auto;
}

#contact_detail_alert.hidden {
    display: block !important;
    visibility: hidden;
}

#contact_detail_notice {
    background: none;
    margin-top: 10px;
    padding-left: 0;
    text-align: center;
    font-size: 18px;
    color: #FC0808;
}

#contact_form {
    margin-top: 20px;
    font-size: 16px;
}

#contact_form .help-block {
    display: none;
    margin-top: 0;
    margin-bottom: 5px;
}
#contact_form .has-error .help-block {
    display: block !important;
    color: #FC0808;
}

#contact_form label {
    font-weight: normal;
}

#contact_form .form-group {
    margin-top: 20px;
}

#contact_form .form-control {
    border-radius: 0 !important;
    height: 43px !important;
}

#contact_form .has-error .form-control {
    border-color: #FC0808;
}

#contact_form textarea.form-control {
    height: 250px !important;
    resize: none;
}

#contact_detail .btn-block {
    background: #065fdd;
    color: #fff;
    font-size: 22px;
    border-radius: 0;
    height: 66px;
    margin-top: 30px;
    margin-bottom: 50px;
    border: 2px solid #065fdd;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
#contact_detail .btn-block:hover {
    background: #fff;
    color: #065fdd;
}

#contact_form .form-group div {
    min-height: 30px;
}

/**/
#contact_detail table {
    width: 100%;
    margin-top: 90px;
}

#contact_detail table td {
    padding: 15px 0;
    padding-left: 10px;
    font-size: 18px;
}

#contact_detail table tr td:first-child {
    width: 225px;
}

#contact_back {
    text-align: center;
    margin-top: 140px;
}

#contact_back a {
    display: inline-block;
    width: auto;
    height: 20px;
    margin: 0 auto;
    padding-left: 20px;
    line-height: 20px;
    color: #666;
    text-decoration: none;
    font-size: 18px;
    
    background-image: url(../img/arrow_back.png);
    background-position: left center;
    background-size: auto 16px;
    background-repeat: no-repeat;
}

/**/
#contact_complete a {
    text-decoration: none;
}

#contact_complete div {
    height: 300px;
    line-height: 300px;
    text-align: center;
    font-size: 24px;
}
#contact_complete div span {
    display: inline-block;
    line-height: 1.8;
    vertical-align: middle;
}

#contact_complete .btn-block {
    margin-top: 0;
}

/**/
body {
    /*background-image: url(../img/tmp/bg_pc.png);*/
    background-position: 0 0;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

/*#stop_scroll {
    display: block !important;
    background: none;
}*/
