@charset "utf-8";

/* Top NAV ********************************************************************/
.navbar-fixed-top {
    /*overflow: hidden;*/
}

.navbar-collapse.collapse {
    
}

.navbar-toggle {
    display: none;
}

.navbar-collapse {
    background: #fff;
    border: none;
}

.navbar-collapse ul.navbar-nav {
    margin: 0;
}

.navbar-collapse ul.navbar-nav li a {
    color: #666;
    border-top: 1px solid #ccc;
}
.navbar-collapse ul.navbar-nav li a:hover {
    color: #0460dd;
    background: #f6f6f6;
}

.navbar-toggle {
    margin-top: 8px;
    margin-right: 8px;
    border: 1px solid #065fdd !important;
    background: #065fdd !important;
}
.navbar-toggle.collapsed {
    border: 1px solid #f6f6f6 !important;
    background: none !important;
}

.navbar-inverse .navbar-toggle.collapsed .icon-bar {
    background: #666;
}
.navbar-inverse .navbar-toggle .icon-bar {
    background: #fff;
}

@media screen and (max-width: 450px) {
    body {
        padding-top: 50px;
    }
    .navbar-fixed-top {
        height: 50px;
        min-height: 50px;
    }
    .navbar-header {
        height: 50px;
        overflow: hidden;
    }
    .navbar-logo {
        height: 50px;
        margin-left: 10px;
    }
    .navbar-logo img {
        height: 40px;
        margin-top: 5px;
    }
    .navbar-contact {
        display: none;
    }
    .navbar-toggle {
        display: block;
    }
}

/* Slide show *****************************************************************/
@media screen and (max-width: 450px) {
    .carousel-caption {
        bottom: 160px;
    }
    .carousel-caption h2 {
        font-size: 20px;
    }
    #area_9_detail a,
    .carousel-caption a {
        max-width: 200px;
        height: 50px;
        margin-top: 20px;
    }
    #area_9_detail .display_cell:last-child,
    .carousel-caption .display_cell:last-child {
        width: 40px;
    }
}

@media screen and (max-height: 350px) {
    .carousel-caption {
        bottom: 70px;
    }
}

@media screen and (max-width: 375px) {
    .carousel-caption a .display_cell:first-child div {
        height: 24px;
    }
    .carousel-caption h2 {
        font-size: 13px;
    }
    #area_9_detail a,
    .carousel-caption a {
        max-width: 150px;
        height: 40px;
    }
    #area_9_detail .display_cell:last-child,
    .carousel-caption .display_cell:last-child {
        width: 30px;
    }
    #area_9_detail a .display_cell:last-child span,
    .carousel-caption a .display_cell:last-child span {
        background-position: 5px center;
        height: 20px;
    }
}

@media screen and (max-width: 320px) {
    .carousel-caption {
        bottom: 100px;
    }
    #area_9_detail a,
    .carousel-caption a {
        height: 50px;
    }
}

.carousel-control .glyphicon-chevron-left {
    left: 20px;
}
.carousel-control .glyphicon-chevron-right {
    right: 20px;
}

/* Area 1 *********************************************************************/
#area_1_title,
#area_2_title,
#area_3_title,
#area_4_title,
#area_5_title,
#area_6_title,
#area_7_title,
#area_8_title,
#area_9_title,
#area_10_title {
    font-size: 15px;
    min-height: 0;
    padding: 32px 10px 0px 10px;
    line-height: 1.3;
}

@media screen and (max-width: 750px) {
    .area_1_item {
        margin-left: 0 !important;
        width: 50% !important;
        min-height: 58px;
        padding-left: 43px;
        background-position: 17px 20px;
        background-size: 18px auto;
    }
    
    #area_1_item_3 {
        margin-left: 25% !important;
        min-height: 58px;
    }
    #area_1_item_2,
    #area_1_item_5 {
        padding-right: 5px;
    }
}

#area_1_more {
    width: 40px;
    height: 100px;
}

#area_1_more span {
    width: 15px;
	height: 15px;
    top: 18px;
	margin-left: -8px;
    border-left: 3px solid #065fdd;
	border-bottom: 3px solid #065fdd;
}

#area_1_more span:nth-of-type(2) {
	top: 38px;
}
#area_1_more span:nth-of-type(3) {
	top: 58px;
}

/* Area 2 *********************************************************************/
#area_2_container {
    padding-bottom: 30px;
}
#area_2_title {
    padding-top: 45px;
    padding-bottom: 30px;
}
.area_2_item {
    width: 42.33%;
    min-height: 207px;
    margin: 0;
    margin-left: 3.33%;
    margin-bottom: 4.5%;
}

#area_2_item_1,
#area_2_item_3 {
    margin-left: 6%;
}

#area_2_item_3,
#area_2_item_4 {
    margin-bottom: 6%;
}

.area_2_item_text {
    padding: 10px;
    font-size: 10px;
    min-height: 80px;
}

.area_2_item_text br {
    display: none;
}

/* Area 3 *********************************************************************/
#area_3 {
    min-height: 260px;
}
#area_3_title {
    padding-top: 48px;
    padding-bottom: 3px;
}
#area_3_title span {
    font-size: 10px;
    padding-top: 10px;
}

#area_3_title span br {
    display: none;
}

#area_3_detail {
    margin-left: 6%;
    margin-right: 6%;
}

/* Area 4 *********************************************************************/
#area_4_title {
    font-size: 14px;
    padding-bottom: 35px;
}
#area_4_detail {
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 20px;
    min-height: 187px;
}

#area_4 table td {
    padding: 10px 0;
    font-size: 5px;
}

.area_4_td_mark {
    padding-left: 2px;
    padding-right: 2px;
}

/* Area 5 *********************************************************************/
#area_5 {
    background: #ededed;
    min-height: 387px;
    padding-bottom: 20px;
}

#area_5_title {
    padding-top: 35px;
    padding-bottom: 32px;
}

#area_5_detail {
    margin-left: 4%;
    margin-right: 4%;
}

.area_5_item {
    width: 23%;
    height: 33px;
    line-height: 33px;
    margin: 1%;
    background: #fff;
    word-wrap: break-word;
    font-size: 9px;
}

.area_5_item:hover {
    font-size: 14px;
}

/* Area 6 *********************************************************************/
#area_6_container {
    background: none;
}

#area_6_title {
    padding-top: 45px;
    padding-bottom: 5px;
}

#area_6_detail {
    margin-left: 4%;
    margin-right: 4%;
    padding-bottom: 20px;
}

.area_6_detail_col1,
.area_6_detail_col2, 
.area_6_detail_col3 {
    width: 100%;
}

.area_6_item {
    width: 47.9%;
    margin: 1.05%;
    margin-bottom: 10px;
}

.area_6_item_header {
    width: 100%;
    margin: 0;
    margin-top: 10px;
    height: 27px;
    line-height: 27px;
    font-size: 11px;
}

.area_6_item a {
    width: 50px;
    height: 19px;
    bottom: 5px;
    right: 5px;
}

.area_6_item .display_cell:last-child {
    width: 12px;
}

.area_6_item a .display_cell:last-child span,
.area_6_item a .display_cell:first-child div {
    height: 7px;
}

/* Area 7 *********************************************************************/
#area_7_title {
    padding-top: 45px;
    padding-bottom: 18px;
}
#area_7_title span {
    font-size: 8px;
    padding-top: 8px;
}

#area_7_detail {
    margin-left: 4%;
    margin-right: 4%;
    padding-bottom: 20px;
    min-height: 0;
}

.area_7_item {
    width: 46.5%;
    min-height: 245px;
    margin-bottom: 4.3%;
}

@media screen and (max-width: 375px) {
    .area_7_item {
        min-height: 195px;
    }
}

.area_7_item_number {
    height: 60px;
    font-size: 40px;
    padding-top: 10px;
}

.area_7_item_text {
    font-size: 9.5px;
    font-weight: normal;
    line-height: 1.4;
    color: #666;
    padding: 10px;
    min-height: 0;
}

/* Area 8 *********************************************************************/
#area_8 {
    padding-bottom: 33px;
}

#area_8_title {
    padding-top: 50px;
    padding-bottom: 18px;
}
#area_8_title br {
    display: none;
}

#area_8_detail {
    margin-left: 4%;
    margin-right: 4%;
    min-height: 0;
    padding-bottom: 20px;
}

.area_8_item {
    width: 100%;
    height: 127px;
    margin: 10px 0;
    margin-bottom: 0;
    overflow: hidden;
}
.area_8_item:last-child {
    margin-bottom: 20px;
}

.area_8_item_foot {
    float: left;
    width: 40%;
}

.area_8_item_head {
    float: right;
    width: 60%;
    height: 127px;
}

.area_8_item_head:after {
    border-width: 25px 20px 25px 0;
    border-color: transparent #065fdd;
    margin-top: -23px;
    left: -15px;
    top: 50%;
    margin-left: 0;
    bottom: auto;
}

.area_8_item_head .display_cell {
    height: 127px;
    font-size: 12px;
    padding: 10px;
}
.area_8_item_head .display_cell br {
    display: none;
}

.area_8_item_icon {
    margin-top: 10px;
    height: 70px;
}

.area_8_item_text {
    font-size: 10px;
    padding-top: 7px;
}
.area_8_item:last-child .area_8_item_text {
    padding-top: 15px;
}

/* Area 9 *********************************************************************/
#area_9 {
    min-height: 0;
    padding-bottom: 30px;
}

#area_9_title {
    padding-top: 40px;
}

#area_9_tel {
    height: auto;
}

#area_9_tel img {
    margin-top: 20px;
    height: 14px;
}

/* Area 10 *********************************************************************/
#area_10_title {
    min-height: 0;
    color: #666;
}

#area_10_detail {
    min-height: 0;
    margin-left: 3%;
    margin-right: 3%;
    padding-top: 0;
}

.area_10_col_1 {
    width: 22%;
}

#area_10_detail td {
    padding: 8px 0;
    font-size: 8px;
    vertical-align: top;
}
