@charset "utf-8";

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    /* IE10+ CSS styles */
    html {
        -ms-overflow-style: scrollbar;
    }
    
    .shadow {
        -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2);
        -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2);
        -ms-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2);
        box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2);
    }
    
    #area_10_detail table {
        table-layout: fixed;
    }
    
    .area_10_col_1 {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}
